.addDreamContainer {
  position: relative;
  border: 1px solid #b4d3deff;
  height: 90%;
  width: 55%;
  margin: auto;
  margin-top: 1%;
  background-color: rgba($color: #1f1e1e, $alpha: 0.5);
  border-radius: 30px;
  backdrop-filter: blur(15px);
  padding: 10px;
  &__header {
    width: 100%;
    height: 10%;
    // border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      color: rgba($color: #90bbca, $alpha: 0.8);
      // border: 1px solid white;
      // border-radius: 20px;
      margin: auto;
      // margin-top: 5px;
      font-size: 2.5rem;
      width: fit-content;
      // padding: 10px;
      word-spacing: 10x;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    // border: 1px solid white;
    height: 87%;
    width: 95%;
    background-color: rgba($color: #afd6eb, $alpha: 0.2);
    border-radius: 30px;
  }
}
