# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
dist/
build/
.env
.env.local
.env.*.local

# Logs
logs/
*.log
*.log.*
pids/
*.pid
*.seed

# OS
.DS_Store

# Editor
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# React Client Build
client/build/